{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-white text-dark " >
    <div class="col-md-4">
        <img src="{% static 'portfolio/linacaceres.png' %}" />
    </div>
  
    <div class="col-md-8 my-auto">
      <h1>Hola soy<strong> Lina Caceres</strong></h1>
      <h3>Desarrolladora web full stack</h3>
      <p>Estudiante de desarrollo web, con habilidades en la creación de paginas web dinámicas, 
        con conocimientos en html, css, typescript, figma, angular, python, Django, fastapi, 
        entre otros, cuento con gran iniciativa, ganas de aprender, 
        comunicación asertiva, trabajo en equipo y disposición por asumir nuevos retos.</p>
      <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'portfolio/cv.pdf' %}">Download my CV</a>
    </div>
  </header>

<!-- Porfolio Section -->
    <div class="row my-4 text-center">

    <h3>Algunos de mis proyectos</h3>
    <p>Estos son algunos trabajos realizados en front y back muchos de ellos realizados diferentes herramientas.</p>
  
    {% for project in projects %}
    <div class="col-md-4 p-4">
      <div class="card bg-black card-project">
        <img src="{{project.image.url }}" class="card-img-top" />
  
        <div class="card-body">
  
          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>
  
          {% if project.url %}
          <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
            Project</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  
  {% endblock %}